MONGODB_CONNECTION_STRING = "mongodb+srv://ngahoctap101:WH7HoqMuoIZSmmEL@cluster0.vjecj.mongodb.net/?retryWrites=true&w=majority"
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
S3_BUCKET_NAME=your_bucket_name